<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Expense Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Expense Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-col>
      <ion-row>
        <ion-card-header>
          <ion-card-title>Add New Expense</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Name of Expense</ion-label>
            <ion-input id="name" type="text" required [(ngModel)]="name" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Amount</ion-label>
            <ion-input id="amount" type="number" required [(ngModel)]="amount" ></ion-input>
          </ion-item>
          <ion-button (click)="clearData()">Clear</ion-button>
          <ion-button id="addbutton">Add</ion-button>
        </ion-card-content>
      </ion-row>
      <!-- <ion-row>
        <ion-list>
        <ion-item *ngFor="let expense of newExpense">
          <ion-label class="padding">
           {{ expense.name }}
           {{ expense.amount }}
          </ion-label>
        </ion-item>
      </ion-list>
      </ion-row> -->
    </ion-col>

  </ion-card>
</ion-content>
<script src="home.page.ts"> </script>
